In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Use Python pandas library to load all three data files in model_data folder.

Observe data in all three dataframes.

In [4]:
diabetes = pd.read_csv('model_data/diabetes.csv')
diabetes.head()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,PatientID,Outcome
0,101,58,17,265,24.2,0.614,1017,0
1,108,70,0,0,30.5,0.955,1031,1
2,148,60,27,318,30.9,0.150,1033,1
3,113,76,0,0,33.3,0.278,1035,1
4,83,86,19,0,29.3,0.317,1048,0

In [8]:
patients = pd.read_csv('model_data/patient_data.csv')
patients.head()

   PatientID  BirthYear         City         State        Country
0       1017       1998       Winona     Minnesota  United States
1       1031       1988  Springfield      Illinois  United States
2       1033       1992      Socorro         Texas  United States
3       1035       1998         Erie  Pennsylvania  United States
4       1048       1987  Sioux Falls  South Dakota  United States

In [7]:
pregnancies = pd.read_csv('model_data/pregnancies_records.csv')
pregnancies.head()

   PatientID  PregnancyRecordID
0       1017               7119
1       1017               7120
2       1031               7217
3       1031               7218
4       1031               7219

Check data types of each column.

In [14]:
for i in [diabetes,patients,pregnancies]: print(i.dtypes)

Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
PatientID                     int64
Outcome                       int64
dtype: object
PatientID     int64
BirthYear     int64
City         object
State        object
Country      object
dtype: object
PatientID            int64
PregnancyRecordID    int64
dtype: object

Get total record count and number of columns for each file

In [15]:
for i in [diabetes,patients,pregnancies]: print(i.shape)

(686, 8)
(932, 5)
(3060, 2)

Generate basic statistics that describes data for each file. It consists of mean, standard deviation, minimum, and maximum values.

In [16]:
for i in [diabetes,patients,pregnancies]: print(i.describe())

          Glucose  BloodPressure  SkinThickness     Insulin         BMI  \
count  686.000000     686.000000     686.000000  686.000000  686.000000
mean   120.651603      69.448980      20.634111   80.583090   31.974781
std     31.857707      19.040706      15.944848  117.712149    7.946174
min      0.000000       0.000000       0.000000    0.000000    0.000000
25%     99.000000      64.000000       0.000000    0.000000   27.300000
50%    117.000000      72.000000      23.000000   26.000000   32.000000
75%    140.000000      80.000000      32.000000  127.750000   36.600000
max    199.000000     122.000000      99.000000  846.000000   67.100000

       DiabetesPedigreeFunction     PatientID     Outcome
count                686.000000    686.000000  686.000000
mean                   0.469886   9529.288630    0.348397
std                    0.328851   4890.669582    0.476810
min                    0.078000   1017.000000    0.000000
25%                    0.245250   5189.750000    0.000000
50%                    0.370500   9446.000000    0.000000
75%                    0.618000  13685.750000    1.000000
max                    2.420000  17995.000000    1.000000
          PatientID    BirthYear
count    932.000000   932.000000
mean    9413.204936  1981.948498
std     5038.881999    17.457007
min       95.000000  1931.000000
25%     5007.500000  1973.000000
50%     9383.500000  1988.000000
75%    13829.000000  1996.000000
max    17995.000000  2001.000000
          PatientID  PregnancyRecordID
count   3060.000000        3060.000000
mean   10229.397386       71608.722549
std     4866.164878       34063.248817
min     1017.000000        7119.000000
25%     6010.000000       42070.750000
50%    10878.500000       76154.500000
75%    14307.000000      100154.250000
max    17995.000000      125966.000000

Identify any relationships that you can spot.

- The `